ZXRobotSystem/CoreAlgorithm/Connected Services/getcode/WebServicezkd_pcd.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://192.168.100.24:9801/webservices/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://192.168.100.24:9801/webservices/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://192.168.100.24:9801/webservices/">
      <s:element name="GetJiaMistr">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="text" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetJiaMistrResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetJiaMistrResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetJiaMistrSoapIn">
    <wsdl:part name="parameters" element="tns:GetJiaMistr" />
  </wsdl:message>
  <wsdl:message name="GetJiaMistrSoapOut">
    <wsdl:part name="parameters" element="tns:GetJiaMistrResponse" />
  </wsdl:message>
  <wsdl:portType name="WebServicezkd_pcdSoap">
    <wsdl:operation name="GetJiaMistr">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">返回加密字符串</wsdl:documentation>
      <wsdl:input message="tns:GetJiaMistrSoapIn" />
      <wsdl:output message="tns:GetJiaMistrSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServicezkd_pcdSoap" type="tns:WebServicezkd_pcdSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetJiaMistr">
      <soap:operation soapAction="http://192.168.100.24:9801/webservices/GetJiaMistr" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServicezkd_pcdSoap12" type="tns:WebServicezkd_pcdSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetJiaMistr">
      <soap12:operation soapAction="http://192.168.100.24:9801/webservices/GetJiaMistr" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebServicezkd_pcd">
    <wsdl:port name="WebServicezkd_pcdSoap" binding="tns:WebServicezkd_pcdSoap">
      <soap:address location="http://192.168.100.24:9081/WebServicezkd_pcd.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServicezkd_pcdSoap12" binding="tns:WebServicezkd_pcdSoap12">
      <soap12:address location="http://192.168.100.24:9081/WebServicezkd_pcd.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>